.bet-container {
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.bet-title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.bet-details-card {
  padding: 20px;
  border-radius: 8px;
}

.sub-container {
  margin-top: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background: var(--card-bg);
}

.bet-numbers,
.bet-stats {
  display: flex;
  gap: 1em;
}

.results-grid,
.bet-number-grid,
.stats-grid,
.guess-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.result-item,
.bet-number,
.stat-item,
.guess-item {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.result-item {
  background: #17a2b8;
  color: white;
}

.guess-item {
  background: #8c65d1;
  color: white;
}

.bet-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.stats-collection-item {
  flex: 1 1 calc(50% - 20px);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: var(--graphic-bg);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .stats-collection-item {
    flex: 1 1 100%; /* Full width on small screens */
  }
}

.bet-number {
  background: #28a745;
  color: white;
}

.stat-item {
  background: #ffc107;
  color: #333;
}

.loading {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-align: center;
  padding: 20px;
}

.pair-representation-title {
  font-size: 1.5rem;
}
