.dashboard-header {
  padding: 16px;
  background: var(--card-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  cursor: pointer;
}
.back-button {
  background: var(--card-bg);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}
.back-button-container {
  padding: 20px;
  display: inline-block;
  margin-bottom: -5em;
  margin-right: 100%;
}
.theme-button {
  background: var(--card-bg);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48px;
}

.dashboard-title {
  text-align: center;
  margin-top: 1.5em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

@media (max-width: 480px) {
  .dashboard-title {
    text-align: center;
    margin-top: 1.1em;
  }
}


.create-button-main {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(58, 103, 199);
  color: white;
  font-size: 17px;
  position: fixed;
  margin-bottom: 2em;
  margin-right: 1em;
  bottom: 0;
  right: 0;
}