.add-previous-result-form {
  margin-top: 2em;
}

.add-previous-result-form input {
  margin-right: 1em;
  border-radius: 5px;
  height: 30px;
}

.add-previous-result-form button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(72, 156, 72);
  color: white;
}
