.add-previous-result-form {
  margin-top: 2em;
}

.add-previous-result-form input {
  margin-right: 1em;
  border-radius: 5px;
  height: 30px;
}

.add-previous-result-form button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(72, 156, 72);
  color: white;
}

.result-item{
  cursor: pointer;
}

.result-item:hover {
  background-color: #c05353;
}

.add-button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed;
}

.create-button-container {
  margin-top: 2em;
}
.create-button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(58, 103, 199);
  color: white;
  font-size: 16px;
}